@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/Gordita-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  @apply text-fill-gray-700 dark:text-fill-white;
}
